<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket与ThinkPHP等框架结合</title>
</head>
<body>

    <div>WebSocket与ThinkPHP等框架结合</div>

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

        /**
         * 与GatewayWorker建立websocket连接，域名和端口改为你实际的域名端口，
         * 其中端口为Gateway端口，即start_gateway.php指定的端口。
         * start_gateway.php 中需要指定websocket协议，像这样
         * $gateway = new Gateway(websocket://0.0.0.0:8284);
         */
        ws = new WebSocket("ws://" + document.domain + ":8284");
        // 服务端主动推送消息时会触发这里的onmessage
        ws.onmessage = function(e){
            // json数据转换成js对象
            var data = eval("(" + e.data + ")");
            var type = data.type || '';
            switch(type){
                // Events.php中返回的init类型的消息，将client_id发给后台进行uid绑定
                case 'init':
                    // 利用jquery发起ajax请求，将client_id发给后端进行uid绑定
                    $.post('/gatewayworker/index/bind', {client_id: data.client_id}, function(data){}, 'json');
                    break;
                // 心跳
                case 'ping':
                    break;
                // 当mvc框架调用GatewayClient发消息时直接alert出来
                default :
                    document.write(e.data);
                    console.log(data.message);
                    // alert(e.data);
            }
        };

    </script>
</body>
</html>
